.titulo{
    width: 100%;
    background: var(--color1);
    height: 70px;
    display: flex;
}
.titulo h1{
    margin: auto 31% auto auto;
    color: white;
}
.titulo .salir{
    font-size: 1.1rem;
    margin: auto 80px auto 0;
    cursor: pointer;
    color: white;
}
.titulo .salir:hover{
    color: rgb(190, 217, 243);
}